


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: Arial, sans-serif;

  }
  
  .greeting-text {
    text-align: center;
  }
  
  .morning-image {
    width: fit-content;
    height: 600px;
    background-color:skyblue;

  }
  .afternoon-image{
    width: fit-content;
    height: 600px;
    background-color: rgb(214, 66, 7);
  }
  .night-image{
    width: fit-content;
    height: 600px;
    background-color: black;
  }
  
 